.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  &__description {
    margin-top: 26px;
    display: none;
    width: 360px;
    line-height: 26px;
    font-size: 18px;
    color: $text-color-light-grey;

    @include for-large-up {
      display: block;
    }
  }

  &__line {
    margin: 0;
    margin-top: 40px;
    border-top: 1px solid $text-color-primary;
    width: 100%;
    opacity: 0.1;

    @include for-large-up {
      margin: 0;
    }
  }

  .logo {
    @include for-large-down {
      display: none;
    }
  }
}

.about-company {
  margin-top: 40px;

  @include for-large-up {
    margin-top: 44px;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 1140px;
    height: 338px;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;

  @include for-large-up {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin-left: auto;
    flex-direction: row;
    margin-top: 60px;
  }

  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $text-color-primary;
  }

  &__list {
    margin: 0;
    margin-top: 18px;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 1140px;
  }
}

.terms {
  margin-top: 30px;
  line-height: 50px;
  font-size: 14px;

  @include for-large-up {
    margin-top: 0;
    line-height: 22px;
    font-size: 14px;
  }

  &__item {
    margin-right: 22px;
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
  }
}

.social-links {
  margin-top: 31px;
  margin-bottom: 23px;

  @include for-large-up {
    margin-left: auto;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }
  &__image {
    width: 60px;
  }

  &__name {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
}

.logo-vertical__description {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: $text-color-light-grey;
}
