.top-section {
  background-color: $header-desktop-background-color;

  @include for-large-up {
    padding-top: 39px;
    background-color: $header-desktop-background-color;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 15px;
  background-color: $color-white;

  @include for-large-up {
    align-items: normal;
    width: 1140px;
    height: 62px;
    padding: 0;
    margin: auto;
    background: $header-desktop-background-color;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    height: 100%;
    width: 58px;
    border-left: 1px solid $border;
    margin-left: auto;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }

  &__menu-icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);

    @include for-large-up {
      display: none;
    }
  }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin: 7px 75px 0 auto;
  }

  &__item {
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
    color: $text-color-primary;
    text-decoration: none;

    &_selected {
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__arrow {
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    width: 48px;
    height: 48px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    color: $text-color-primary;
    opacity: 0.6;
  }
}
