.inbox {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: rgba(252, 240, 227, 0.4);

  @include for-large-up {
    flex-direction: row;
    padding: 0;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-large-up {
      margin: 140px 0 101px 190px;
    }
  }

  &__illustration {
    width: 290px;

    @include for-large-up {
      width: 425px;
    }
  }

  &__illustration-caption {
    display: none;

    @include for-large-up {
      display: block;
      font-size: 14px;
      line-height: 22px;
      margin-top: 17px;
      color: rgba(43, 41, 45, 0.6);
      text-align: center;
    }
  }

  &__content {
    @include for-large-up {
      margin: 115px 101px 116px 165px;
    }
  }

  &__text-block {
    margin: 0;

    @include for-large-up {
      margin-left: 26px;
    }
  }

  &__subtitle {
    font-size: 22px;
    line-height: 34px;
    margin-top: 32px;
    color: #f1592b;
    font-weight: 700;
  }

  &__title {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-top: 17px;
    letter-spacing: -0.36px;
    font-weight: 700;

    @include for-large-up {
      width: 462px;
      font-size: 56px;
      line-height: 56px;
      margin: 24px 26px 0 0;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;

    @include for-large-up {
      width: 461px;
      margin-top: 30px;
    }
  }

  &__card {
    margin-top: 30px;
    padding: 30px 20px 28px;
    background-color: #fff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid #0185d0;

    @include for-large-up {
      width: 519px;
      padding: 30px 30px 28px;
      margin-top: 44px;
    }
  }

  &__quote {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  &__quote-bold {
    font-weight: 700;
  }

  &__user-avatar {
    display: flex;
  }

  &__user-image {
    width: 40px;
    height: 40px;
    margin-top: 28px;
    margin-right: 11px;
  }

  &__text-block {
    margin-top: 26px;
  }

  &__name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    font-weight: 400;
  }
}
