$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-primary: #2b292d;
$color-white: #fff;
$header-desktop-background-color: #f3c6bd;
$border: #00000026;
$color-blue: #3040c4;
$background-color: #f4f5f7;
$customers-tips-border: #e3e3e3;
$features-order-blue-color: #3142c6;
$features-border: #2b292d26;
